{% extends 'shop/shop_base.html' %}
{# Пользовательская корзина покупок #}
{% load static %}

{% block title %}{{ block.super }}|Cart{% endblock %}

{% block detail_breadcrumb %}
    <li class="breadcrumb-item active editContent">
        <a href="{% url 'cart_url' %}" class="editContent">cart</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg 12">
            <div class="box-element">
                <a href="{% url 'shop_view_url' %}" class="btn btn-outline-dark">
                    &#x2190; Продолжить покупки </a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Колличество: <strong>{{ order.get_cart_items }}</strong></h5></th>
                        <th><h5>Общая сумма: <strong>{{ order.get_cart_total|floatformat }}</strong></h5></th>
                        <th>
                            <a href="{% url 'checkout_url' %}" class="btn btn-success btn-checkout">
                                Оформить заказ &#x2192;</a>
                        </th>
                    </tr>
                </table>
            </div>

            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2px"></div>
                    <div style="flex:2px"><strong>Пункт</strong></div>
                    <div style="flex:1px"><strong>Цена</strong></div>
                    <div style="flex:1px"><strong>Колличество</strong></div>
                    <div style="flex:1px"><strong>Общая цена</strong></div>
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2px"><img class="row-image"
                                               src="{{ item.product.image_url }}">
                    </div>
                    <div style="flex:2px"><p>{{ item.product.name }}</p></div>
                    <div style="flex:1"><p>{{ item.product.price|floatformat }} р.</p></div>
                    <div style="flex:1">
                        <p class="quantity">{{ item.quantity }}</p>
                        <div class="quantity">
                            <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">

                            <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex:1"><p>{{ item.get_total|floatformat }} руб.</p></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}