{% extends "shop/shop_base.html" %}
{# Страница оформления заказа #}
{% load static %}

{% block title %}{{ block.super }}|Checkout{% endblock %}

{% block detail_breadcrumb %}
    <li class="breadcrumb-item active editContent">
        <a href="{% url 'cart_url' %}" class="editContent">cart</a>
    </li>
     <li class="breadcrumb-item active editContent">
        <a href="{% url 'checkout_url' %}" class="editContent">checkout</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name"
                                   placeholder="Имя..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="email"
                                   placeholder="Email..">
                        </div>
                    </div>
                    <div id="shipping-info">
                        <hr>
                        <p>Информация о доставке:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address"
                                   placeholder="Адресс..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city"
                                   placeholder="Город..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state"
                                   placeholder="Область..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode"
                                   placeholder="Индекс..">
                        </div>
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit"
                           value="Continue">
                </form>
            </div>
            {# блок отвечающий за оплату #}
            <br>

            <div class="box-element hidden" id="payment-info">
                <small>Варианты оплаты</small>
                <div id="paypal-button-container"></div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart_url' %}">&#x2190; Назад</a>
                <a class="btn btn-success" href="{% url 'shop_view_url' %}">Продолжить покупки</a>
                <hr>
                <h3>Итого:</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2px">
                        <img class="row-image" src="{{ item.product.image_url }}">
                    </div>
                    <div style="flex:2px"><p>{{ item.product.name }}</p></div>
                    <div style="flex:1px"><p>{{ item.product.price|floatformat }} руб.</p></div>
                    <div style="flex:1px"><p>x{{ item.quantity }}</p></div>
                </div>
                {% endfor %}
                <h5>Колличество: {{ order.get_cart_items }}</h5>
                <h5>Общая сумма: {{ order.get_cart_total|floatformat }} руб.</h5>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let shipping = '{{ order.shipping }}'
    </script>
    <script type="text/javascript" src="{% static 'js/checkout_shipping.js' %}"></script>
{% endblock %}