{% extends 'shop/shop_base.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" >
            <div class="box-element product">
                <h6>Shop</h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Добавить
                </button>
                <a href="#" class="btn btn-outline-success">Посмотреть</a>
                <h4 class="price-product"><strong>200 руб.</strong></h4>
            </div>

        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" >
            <div class="box-element product">
                <h6>Shop</h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Добавить
                </button>
                <a href="#" class="btn btn-outline-success">Посмотреть</a>
                <h4 class="price-product"><strong>200 руб.</strong></h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" >
            <div class="box-element product">
                <h6>Shop</h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Добавить
                </button>
                <a href="#" class="btn btn-outline-success">Посмотреть</a>
                <h4 class="price-product"><strong>200 руб.</strong></h4>
            </div>
        </div>

    </div>

{% endblock %}