{% extends 'shop/shop_base.html' %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="row">
    {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.image_url }}" >
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button data-product="{{ product.id }}" data-action="add"
                        class="btn btn-outline-secondary add-btn update-cart">
                    Добавить
                </button>
                <a href="#" class="btn btn-outline-success">Посмотреть</a>
                <h4 class="price-product"><strong>{{ product.price|floatformat }}р.</strong></h4>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}